
{% if page.url != "/" %} <!-- don't show Home in menu for Homepage -->
<a class="mobile-menu-item !md:menu-item"
href="{{site.baseurl}}/">Home</a>
{% endif %}
<!-- dynamic menu based on navigation info in _config.yml -->
{% for link in site.nav-menu %}
    {% if page.permalink != {{link.permalink}} %} <!-- don't show current page in menu -->
    <a class="mobile-menu-item dark:hover:text-white !md:menu-item"
    href="{{site.baseurl}}/{{link.permalink}}">
    {{link.text}}
    </a>
    {% endif %}
{% endfor %}

<script>
function applyTheme(theme) {
	const { DARK, LIGHT } = { DARK: "dark", LIGHT: "light" };
	const root = window.document.documentElement;
	const isDark = theme === DARK;
	root.classList.remove(isDark ? LIGHT : DARK);
	root.classList.add(theme);
    localStorage.theme = theme;
    // Whenever the user explicitly chooses to respect the OS preference
    //localStorage.removeItem('theme')
};
</script>