<nav class="flex flex-wrap items-center justify-center px-2 mb-1 md:mb-6">
    <div class="container px-4 mx-auto flex flex-wrap">
        <button class="md:hidden flex text-sm border-transparent rounded-full dark:text-white dark:border-black focus:outline-none focus:border-white transition duration-150 ease-in-out"
        id="menu" aria-label="Menu" aria-haspopup="true">
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <div id="menu-dropdown" class="menu-hidden !md:visible origin-top-left absolute mt-2 ml-5 w-48 rounded-md shadow-lg">
            <div class="py-1 rounded-md bg-white dark:bg-slate-700 shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="menu">
                {% include nav-content.html %}
            </div>
        </div>

    </div>
    <div class="hidden items-center justify-center md:block">
        <div class="flex flex-col md:flex-row mr-auto w-full">
            {% include nav-content.html %}
        </div>
    </div>
</nav>