@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    .badge {
        @apply bg-green-500 text-white rounded px-3 py-1;
    }

    .card {
        @apply max-w-sm rounded overflow-hidden shadow-lg;
    }
}

.typing {
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }