@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {

    a {
        @apply text-slate-600 dark:text-slate-100 dark:hover:text-slate-100;
    }

    .badge {
        @apply bg-black text-white rounded px-3 py-2 mt-2;
    }

    .mobile-menu-item {
        @apply block py-2 px-4 text-sm text-gray-500 hover:text-gray-900 px-3 py-2 lg:py-1 mx-auto uppercase;
        @apply dark:text-slate-300 dark:hover:text-white;
    }

    .menu-item {
        @apply text-sm text-gray-500 hover:text-gray-900 px-3 py-2 lg:py-1 mx-auto uppercase;
        @apply dark:text-slate-300 dark:hover:text-white;
    }

    .dark-social-btn {
        @apply dark:bg-slate-500 dark:text-white dark:shadow-slate-600;
        @apply hover:bg-green-500 hover:text-white transition-colors duration-300;
    }

    #menu ~ #menu-dropdown {
        @apply transform;
        @apply ease-in duration-75 opacity-0 scale-0;
    }

    #menu ~ #menu-dropdown:focus-within, #menu:focus ~ #menu-dropdown {
        @apply ease-out duration-100 opacity-100 scale-100;
    }

    .dark .dark\:block {
        display: block !important;
    }

    strong {
        @apply dark:text-slate-200;
    }

    strong.dark {
        @apply !text-slate-200;
    }
}