---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-48 w-48 mt-0 md:mt-8 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1 class="dark:text-white">{{site.author}}</h1>
  </div>
  {% if site.author-bio %}
  
  <p style="font-family: 'Courier New', Courier, monospace; font-weight: 600;" class="mx-5 md:mx-auto text-lg xl:!text-2xl lg:py-3 dark:text-white"><span id="typing"></span></p>
  
  <p class="text-gray-500 dark:text-stone-100 mx-5 md:mx-auto pb-4 lg:text-md xl:text-xl">
    Hello! I'm Henri, a truly passionate about crafting solutions using technology to solve real-world problems.
    Currently Ph.D. Researcher at ÉTS Montréal (University of Québec), my work in the Computer Systems Architecture Laboratory focuses on using Machine Learning methods
    to help industry partners improve their software delivery processes. I am working on topics related to Intelligent DevOps such as anomaly detection and failure diagnosis. Read <a class="!text-gray-500 dark:!text-stone-200" href="/about">more</a> about me.
  </p>

  {% endif %}
</div>
</div>

<script type="text/javascript">
  (function(){
    type();
  })();

  function type() {
    var typing = document.getElementById('typing');
    const PAUSE = 1500; // 2s

    var typewriter = new Typewriter(typing, {
      loop: true,
      delay: 100,
    });

    typewriter
      .typeString('Research Scientist')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Data Scientist')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Machine Learning Engineer')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Software Engineer')
      .pauseFor(PAUSE)
      .deleteAll()
      .start();
  }
</script>

{% include social-media.html %}
{% include footer.html %}