---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="custom-font mx-auto prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-48 w-48 mt-0 md:mt-8 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1 class="dark:text-white font-semibold text-center !text-3xl md:!text-4xl">{{site.author}}</h1>
  </div>

  {% if site.author-bio %}
  <div>
    <p class="mx-5 text-center md:mx-auto !text-lg xl:!text-xl lg:py-1 dark:text-white"><span id="typing"></span></p>
    
    <p class="home-paragraph text-center">
      Hi! I'm Henri Aïdasso, born and raised in Benin, a humble place that taught me the value of adaptability, efficiency, and hard work. 
      Over the past decade, I've studied across three continents and worked across a dozen organizations of all sizes: startups, government institutions, research centers, and global corporations.
      I'm now pursuing a PhD in Computer Engineering at <a href="https://www.etsmtl.ca/en/" class="link" target="_blank">École de technologie supérieure (ÉTS)</a>, University of Quebec, in Canada.
    </p>

    <p class="home-paragraph text-center">
      I’m a lifelong learner and a researcher. My defining skill is the ability to quickly grasp new knowledge and uncover innovative insights, which enables me to tackle complex challenges in fast evolving contexts across different domains.
      I’m currently interested in both fundamental and applied AI research, particularly in efficient NLP and speech processing techniques, and machine learning for software process improvement.
    </p>

    <p class="home-paragraph text-center">
      Read <a class="link" href="/about">more about me</a>.
    </p>
  </div>
  {% endif %}

</div>

{% include social-media.html %}

{% include footer.html %}

<script type="text/javascript">
  (function(){
    type();
  })();

  function type() {
    var typing = document.getElementById('typing');
    const PAUSE = 2000; // 2s

    var typewriter = new Typewriter(typing, {
      loop: true,
      delay: 150,
    });

    typewriter
      .typeString('Research Scientist')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Machine Learning')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Natural Language Processing')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Artificial Intelligence for Software Engineering')
      .pauseFor(PAUSE)
      .deleteAll()
      .typeString('Speech Processing')
      .pauseFor(PAUSE)
      .deleteAll()
      .start();
  }
</script>
